.shrinkAndDisappear {
    animation: shrinkAndDisappearAnimation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes shrinkAndDisappearAnimation {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}    