.newspaper
{
    -webkit-column-count: 2;    /* Chrome, Safari, Opera, Vivaldi, Brave */
       -moz-column-count: 2;    /* Firefox */
            column-count: 2;    /* Edge */

    white-space: normal;
}

.AlbumTextArea
{
    font-size: 16px;
}

#description
{
    border: none; 
    height: 75px; 
    width: 220px;

    /* Crude but sufficient field disablement.  You can't click to the field
    but you can tab to it. */
    pointer-events: none;
}