#bannerDiv {
    align-items: center;     
    background-color: var(--accentColor);
    display: flex;
    padding: 20px 20px 20px 20px;
  }

  #bannerImage {
    height: 70px;
    width: 70px;
  }
  
  #bannerText {
    color: var(--mainColor);
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding-left: 20px;
    white-space: nowrap;
  }